doctype html
html(lang="ru-RU")

    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
        script(src="static/js/bootstrap.min.js")
        script(src="static/js/fontawesome.all.min.js")
        title Templates 9
    body

        header
            .conteiner
                .row
                    header
                        .row
                            img(src="static/img/header/logo.png")
                            button(class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation")
                                span(class="dark-blue-text")
                                    i(class="fas fa-bars fa-1x")
                .row
                    .logo-name
                        p(class="p-logo-name") Jetsbe Sharing
                .row
                    p(class="lorem") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.



    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")

