center =
  margin-left: auto
  margin-right: auto

@import "fonts.styl"
@import "libs.styl"
.slider-item
  background-color #ccc
  width 500px
  height 200px
  padding 20px
  margin 0 20px
body
  font-family Montserrat
  header
    margin 0
    margin-left: auto;
    margin-right: auto;
    background: rgba(86, 204, 242, 0.5);
    width: 1441px;
    height: 96px;
    .row
      margin 0
      button
        margin-left auto
        padding-left 120px
    .logo-name
      {center}
    .p-logo-name
      margin-top 128px
      font-family: Pacifico;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 84px;
      text-align: center;
      letter-spacing: -1px;
      color: #2D9CDB;
    .lorem
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      width 866px
      {center}



